@use "../index" as *;

.private-layout {
    background-color: #0d5b10;
    background: #0d5b10;
    min-height: 100vh;
    position: relative;

    > .ant-layout {
        background-color: #0d5b10;
        transition: all 0.25s, background 0s;
        margin-left: 240px;

        @include atSMMax {
            margin-left: 0px;
        }

        &.ant-layout-has-collapse {
            margin-left: 55px;
            max-width: 100%;

            @include atSMMax {
                margin-left: 0px;
            }
        }

        &:not(&.ant-layout-has-collapse) {
            .ant-layout-header {
                .header-left-menu {
                    .menu-left-icon.menu-left-icon-menu-collapse-on-close {
                        @include atSMMax {
                            display: none;
                        }
                    }
                }
            }
        }

        > .ant-layout-content {
            background-color: var(--color-tertiary) !important;

            > .ant-breadcrumb {
                padding: 12px 10px 12px 20px;

                @include atMax(575) {
                    padding: 10px 10px 10px 10px;
                }

                .ant-breadcrumb-link a,
                .breadcrumb-item-text {
                    font-size: 14px !important;
                    color: var(--color-secondary) !important;
                }
                .ant-breadcrumb-link a svg {
                    font-size: 16px !important;
                }
                .ant-breadcrumb-link svg {
                    color: var(--color-primary);
                }
                .ant-breadcrumb-separator {
                    position: relative;

                    svg {
                        color: var(--color-primary);
                    }

                    .arrow {
                        position: absolute;
                        left: -4px;
                        top: 10px;
                        color: var(--color-primary);

                        &::before,
                        &::after {
                            position: absolute;
                            width: 6px;
                            height: 1.5px;
                            background-color: currentcolor;
                            border-radius: 2px;
                            content: "";
                        }

                        &::before {
                            -moz-transform: rotate(45deg) translateY(-2.5px);
                            -webkit-transform: rotate(45deg) translateY(-2.5px);
                            transform: rotate(45deg) translateY(-2.5px);
                        }
                        &::after {
                            -moz-transform: rotate(-45deg) translateY(2.5px);
                            -webkit-transform: rotate(-45deg) translateY(2.5px);
                            transform: rotate(-45deg) translateY(2.5px);
                        }

                        @supports (-moz-appearance: none) {
                            &::before,
                            &::after {
                                width: 7px;
                                height: 2.5px;
                            }
                        }
                    }
                }

                .breadcrumb-item-last {
                    color: var(--color-secondary) !important;
                }
            }

            > .ant-card {
                background-color: transparent;
                border-top: 1px solid var(--color-gray-600);
                border-radius: 0px;
                height: 100%;

                .ant-card-head {
                    background-color: var(--color-primary) !important;

                    svg {
                        color: var(--color-white);
                    }
                }

                > .ant-card-body {
                    background-color: transparent;
                    border-radius: 0px;
                    padding: 0px 20px 20px 20px;

                    @include atMax(575) {
                        padding: 0px 10px 10px 10px;
                    }
                }
            }
        }

        > .ant-layout-footer {
            padding: 15px 20px;
            border-top: 1px solid var(--color-gray-600);
        }
    }
}

.notification-notice {
    background: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    /* width: 390px; */
    z-index: 9999999;
    padding: 15px 17px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.47);

    .notification-notice-content {
        display: flex;
        gap: 8px;

        .notification-notice-message {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 18;
                font-weight: 700;
            }

            .description {
                font-size: 14;
            }

            .action {
                margin-top: 10px;

                .ant-btn {
                    background-color: #e4151f;
                    color: #ffffff;

                    &:hover {
                        border-color: #e4151f;
                    }

                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }

        .notification-notice-icon {
            svg {
                font-size: 40px;
            }
        }
    }
}

.privates-layout {
    background-image: url("../img/csu_bg.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin: 0px;
    padding: 0px;
    min-height: 80vh;
}
