:root {
  --color-primary: #0d5b10;
  --color-secondary: #69b31e;
  --color-tertiary: #ededed;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-highlight: #ebfca3;
}

/* GLOBAL SCROLLBAR STYLES */
/* stylelint-disable selector-type-no-unknown */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 8px;
}

/* stylelint-enable selector-type-no-unknown */
.private-layout {
  background-color: #0d5b10;
  min-height: 100vh;
  position: relative;
}
.private-layout > .ant-layout {
  background-color: #0d5b10;
  transition: all 0.25s, background 0s;
  margin-left: 240px;
}
@media (max-width: 767px) {
  .private-layout > .ant-layout {
    margin-left: 0px;
  }
}
.private-layout > .ant-layout.ant-layout-has-collapse {
  margin-left: 55px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .private-layout > .ant-layout.ant-layout-has-collapse {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .private-layout > .ant-layout:not(.private-layout > .ant-layout.ant-layout-has-collapse) .ant-layout-header .header-left-menu .menu-left-icon.menu-left-icon-menu-collapse-on-close {
    display: none;
  }
}
.private-layout > .ant-layout > .ant-layout-content {
  background-color: var(--color-tertiary) !important;
}
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb {
  padding: 12px 20px 12px 20px;
}
@media (max-width: 575px) {
  .private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb {
    padding: 10px 10px 10px 10px;
  }
}
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-link a,
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .breadcrumb-item-text {
  font-size: 14px !important;
  color: var(--color-secondary) !important;
}
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-link a svg {
  font-size: 16px !important;
}
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-link svg {
  color: var(--color-primary);
}
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-separator {
  position: relative;
}
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-separator svg {
  color: var(--color-primary);
}
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-separator .arrow {
  position: absolute;
  left: -4px;
  top: 10px;
  color: var(--color-primary);
}
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-separator .arrow::before, .private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-separator .arrow::after {
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-color: currentcolor;
  border-radius: 2px;
  content: "";
}
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-separator .arrow::before {
  transform: rotate(45deg) translateY(-2.5px);
}
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-separator .arrow::after {
  transform: rotate(-45deg) translateY(2.5px);
}
@supports (-moz-appearance: none) {
  .private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-separator .arrow::before, .private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .ant-breadcrumb-separator .arrow::after {
    width: 7px;
    height: 2.5px;
  }
}
.private-layout > .ant-layout > .ant-layout-content > .ant-breadcrumb .breadcrumb-item-last {
  color: var(--color-secondary) !important;
}
.private-layout > .ant-layout > .ant-layout-content > .ant-card {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  height: 100%;
}
.private-layout > .ant-layout > .ant-layout-content > .ant-card > .ant-card-head {
  background-color: var(--color-primary) !important;
}
.private-layout > .ant-layout > .ant-layout-content > .ant-card > .ant-card-head svg {
  color: var(--color-white);
}
.private-layout > .ant-layout > .ant-layout-content > .ant-card > .ant-card-body {
  background-color: transparent;
  border-radius: 0px;
  padding: 0px 20px 20px 20px;
}
@media (max-width: 575px) {
  .private-layout > .ant-layout > .ant-layout-content > .ant-card > .ant-card-body {
    padding: 0px 10px 10px 10px;
  }
}
.private-layout > .ant-layout > .ant-layout-footer {
  padding: 15px 20px;
  border: 0px;
}

.notification-notice {
  background: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  /* width: 390px; */
  z-index: 9999999;
  padding: 15px 17px;
  border-radius: 5px;
  box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.47);
}
.notification-notice .notification-notice-content {
  display: flex;
  gap: 8px;
}
.notification-notice .notification-notice-content .notification-notice-message {
  display: flex;
  flex-direction: column;
}
.notification-notice .notification-notice-content .notification-notice-message .title {
  font-size: 18;
  font-weight: 700;
}
.notification-notice .notification-notice-content .notification-notice-message .description {
  font-size: 14;
}
.notification-notice .notification-notice-content .notification-notice-message .action {
  margin-top: 10px;
}
.notification-notice .notification-notice-content .notification-notice-message .action .ant-btn {
  background-color: #e4151f;
  color: #ffffff;
}
.notification-notice .notification-notice-content .notification-notice-message .action .ant-btn:hover {
  border-color: #e4151f;
}
.notification-notice .notification-notice-content .notification-notice-message .action .ant-btn svg {
  margin-right: 5px;
}
.notification-notice .notification-notice-content .notification-notice-icon svg {
  font-size: 40px;
}
.notification-notice .private-layout > .ant-layout > .ant-layout-header .header-left-menu .menu-left-icon.menu-left-icon-menu-collapse-on-close svg {
  color: var(--color-white);
}/*# sourceMappingURL=private-layout.css.map */