.ant-modal-root .ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.5);
}
.ant-modal-root .ant-modal-wrap .ant-modal {
  padding-bottom: 20px;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content {
  border-radius: 0px;
  padding: 0px;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-close {
  top: 20px;
  right: 15px;
  color: #ffffff;
  background-color: transparent;
  width: auto;
  height: auto;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-header {
  margin-bottom: 0px;
  padding: 15px 15px;
  background-color: #114eaf !important;
  border-radius: 0px;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-header .ant-modal-title {
  color: #ffffff;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-body {
  padding: 15px;
  width: 100%;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer {
  padding: 0px 15px 15px 15px;
  margin-top: 0px;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-primary {
  color: #ffffff;
  background-color: #114eaf;
  border-color: #114eaf;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-primary:hover {
  color: #114eaf;
  background-color: #ffffff;
  border-color: #114eaf;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-primary:focus {
  color: #ffffff;
  background-color: #114eaf;
  border-color: #114eaf;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-primary.ant-btn-variant-primary {
  color: #ffffff;
  background-color: #114eaf;
  border-color: #114eaf;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-primary.ant-btn-variant-primary:hover {
  color: #ffffff;
  background-color: #0025a0;
  border-color: #0025a0;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-primary.ant-btn-variant-primary:focus {
  color: #ffffff;
  background-color: #0025a0;
  border-color: #0025a0;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-primary.ant-btn-btn-outlined {
  color: #ffffff;
  background-color: #114eaf;
  border-color: #114eaf;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-primary.ant-btn-btn-outlined:hover {
  color: #ffffff;
  background-color: #0025a0;
  border-color: #0025a0;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-primary.ant-btn-btn-outlined:focus {
  color: #ffffff;
  background-color: #0025a0;
  border-color: #0025a0;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-default {
  line-height: normal;
  border-radius: 20px !important;
  height: 35px;
  color: #ffffff;
  background-color: #114eaf;
  border-color: #114eaf;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-default:hover {
  border-color: #114eaf;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-default:focus {
  color: #114eaf;
  background-color: #114eaf;
  border-color: #114eaf;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-active {
  color: #114eaf;
  background-color: #114eaf;
  border-color: #114eaf;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-active:hover {
  border-color: #114eaf;
}
.ant-modal-root .ant-modal-wrap .ant-modal .ant-modal-content .ant-modal-footer .ant-btn.ant-btn-active:focus {
  color: #114eaf;
  background-color: #114eaf;
  border-color: #114eaf;
}/*# sourceMappingURL=modal.css.map */