:root {
  --color-primary: #0d5b10;
  --color-secondary: #69b31e;
  --color-tertiary: #ededed;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-highlight: #ebfca3;
}

.private-layout > .ant-layout-sider {
  background-color: var(--color-primary);
  width: 240px !important;
  min-width: 240px !important;
  max-width: 240px !important;
  overflow: hidden auto;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
  scrollbar-width: none;
  scrollbar-gutter: stable;
}
@media (max-width: 767px) {
  .private-layout > .ant-layout-sider {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.private-layout > .ant-layout-sider.ant-layout-sider-collapsed {
  width: 0px !important;
  min-width: 55px !important;
}
@media (max-width: 767px) {
  .private-layout > .ant-layout-sider.ant-layout-sider-collapsed {
    display: none;
  }
}
@media (max-width: 575px) {
  .private-layout > .ant-layout-sider.ant-layout-sider-collapsed {
    display: none;
  }
}
@media (max-width: 767px) {
  .private-layout > .ant-layout-sider {
    position: fixed;
  }
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children > .ant-side-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .private-layout > .ant-layout-sider > .ant-layout-sider-children > .ant-side-header {
    height: 70px;
  }
}
@media (max-width: 575px) {
  .private-layout > .ant-layout-sider > .ant-layout-sider-children > .ant-side-header {
    height: 70px;
  }
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children > .ant-side-header .anticon {
  font-size: 22px;
  color: var(--color-white);
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children > .ant-side-header .anticon a:hover {
  color: var(--color-cyan-400);
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children > .ant-side-header .logo_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children > .ant-side-header .logo_wrapper img {
  width: 150px;
}
@media (max-width: 767px) {
  .private-layout > .ant-layout-sider > .ant-layout-sider-children > .ant-side-header .logo_wrapper img {
    width: 90px;
  }
}
@media (max-width: 575px) {
  .private-layout > .ant-layout-sider > .ant-layout-sider-children > .ant-side-header .logo_wrapper img {
    width: 80px;
  }
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu {
  background-color: transparent;
  height: 100%;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-item {
  margin-block: 0px;
  margin-inline: 0px;
  width: 100%;
  border-radius: 0px;
  padding-left: 16px !important;
  line-height: 45px;
  font-weight: bolder;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-item.ant-menu-item-selected, .private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-item.ant-menu-item-active {
  background: var(--color-white);
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-item a {
  color: var(--color-white);
  text-decoration: none;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-item a:hover, .private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-item.ant-menu-item-selected a, .private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-item.ant-menu-item-active a {
  color: var(--color-primary) !important;
  text-decoration: none;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-item .ant-menu-item-icon {
  color: var(--color-white);
  font-size: 18px;
  width: 20px;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu .ant-menu-item:hover .ant-menu-item-icon {
  color: var(--color-primary) !important;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu .ant-menu-item.ant-menu-item-selected .ant-menu-item-icon {
  color: var(--color-primary) !important;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu {
  background-color: transparent;
  border-radius: 0px;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu-submenu-title {
  padding-left: 16px !important;
  padding-inline-end: 0px !important;
  margin-inline: 0px;
  border-radius: 0px;
  margin-block: 0px;
  line-height: 45px;
  width: 100%;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu-submenu-title .ant-menu-submenu-arrow,
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu-submenu-title .ant-menu-item-icon {
  color: var(--color-white);
  font-size: 18px;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu-submenu-title .ant-menu-item-icon {
  width: 20px;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu-submenu-title:active, .private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu-submenu-title:selected {
  background-color: var(--color-white) !important;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu-submenu-title .ant-menu-title-content {
  color: var(--color-white);
  font-weight: bolder;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu.ant-menu-sub > .ant-menu-item {
  margin-block: 0px;
  margin-inline: 0px;
  width: 100%;
  border-radius: 0px;
  padding-left: 46px !important;
  line-height: 45px;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu.ant-menu-sub > .ant-menu-item.ant-menu-item-selected, .private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu.ant-menu-sub > .ant-menu-item.ant-menu-item-active {
  background: var(--color-white);
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu.ant-menu-sub > .ant-menu-item a {
  color: var(--color-white);
  font-weight: normal;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu.ant-menu-sub > .ant-menu-item a:hover, .private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu.ant-menu-sub > .ant-menu-item.ant-menu-item-selected a, .private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu.ant-menu-sub > .ant-menu-item.ant-menu-item-active a {
  color: var(--color-green-400);
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu.ant-menu-sub > .ant-menu-item .ant-menu-title-content {
  line-height: 40px;
}
.private-layout > .ant-layout-sider > .ant-layout-sider-children .ant-menu > .ant-menu-submenu .ant-menu.ant-menu-sub > .ant-menu-item .ant-menu-title-content a {
  text-decoration: none !important;
}/*# sourceMappingURL=sidemenu.css.map */