:root {
    --color-primary: #0d5b10;
    --color-secondary: #69b31e;
    --color-tertiary: #ededed;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #17a2b8;
    --color-highlight: #ebfca3;
}

$body-bg: var(--color-blue-800);
