@import "tailwindcss";

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@font-face {
    font-family: "MontserratVariableFont_wght";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "MontserratRegular";
    src: local("Montserrat"),
        url("../fonts/Montserrat/static/Montserrat-Regular.ttf")
            format("truetype");
}

@font-face {
    font-family: "MontserratBold";
    src: local("MontserratBold"),
        url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "MontserratRegular";
    src: local("MontserratRegular"),
        url("../fonts/Montserrat/static/Montserrat-Regular.ttf")
            format("truetype");
}

@font-face {
    font-family: "MontserratMedium";
    src: local("MontserratMedium"),
        url("../fonts/Montserrat/static/Montserrat-Medium.ttf")
            format("truetype");
}

@font-face {
    font-family: "AnnabelleJFRegular";
    src: local("AnnabelleJFRegular"),
        url("../fonts/AnnabelleJFRegular/AnnabelleJFRegular.ttf")
            format("truetype");
}

@font-face {
    font-family: "PoppinsBold";
    src: local("PoppinsBold"),
        url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "PoppinsRegular";
    src: local("PoppinsRegular"),
        url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PoppinsMedium";
    src: local("PoppinsMedium"),
        url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: local("PoppinsSemiBold"),
        url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MontserratRegular, sans-serif;
}

:root {
    font-family: MontserratRegular !important;
}

html,
body {
    font-family: MontserratRegular !important;
    background-image: url("../img/csu_bg.png");

    background-repeat: no-repeat;
    background-size: cover;

    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

.globalLoading {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999999999;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* splas screen */
.splash-centered {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px !important;
}

.splash-loader {
    /* position: absolute;
    top: calc(51% - 32px);
    left: calc(50% - 32px); */
    margin-top: 10px !important;
    margin-left: 63px !important;
    margin: auto;
    width: 64px;
    height: 64px !important;
    border-radius: 50%;
    perspective: 800px;
}

.splash-inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.splash-inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #72141c;
}

.splash-inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #72141c;
}

.splash-inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #72141c;
}
.no-selected-bg .ant-menu-item,
.no-selected-bg .ant-menu-submenu-title {
    color: #fff !important;
}
/* Place this in your global CSS file (e.g., index.css or App.css) */
.no-selected-bg .ant-menu-item-selected,
.no-selected-bg .ant-menu-submenu-title-selected,
.no-selected-bg .ant-menu-item:hover,
.no-selected-bg .ant-menu-submenu-title:hover {
    background-color: transparent !important;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@media (max-width: 768px) {
    .responsive-calendar .ant-picker-calendar {
        font-size: 12px; /* smaller text */
    }
    .responsive-calendar .ant-picker-cell-inner {
        padding: 4px; /* tighter spacing */
    }
}
.custom-menu .ant-menu-item::after,
.custom-menu .ant-menu-submenu::after {
    border-bottom: none !important;
}

.custom-menu .ant-menu-item:hover::after,
.custom-menu .ant-menu-item-active::after,
.custom-menu .ant-menu-item-selected::after {
    border-bottom: none !important;
}
