.tbl-search-wrapper {
  width: 300px;
}
@media (max-width: 767px) {
  .tbl-search-wrapper {
    width: 100%;
  }
}
.tbl-search-wrapper .ant-input-outlined:focus {
  box-shadow: none !important;
  outline: none;
}
.tbl-search-wrapper .ant-input-group-wrapper {
  box-shadow: none !important;
}
.tbl-search-wrapper .ant-input-group-wrapper .ant-input {
  border-radius: 0px;
}
.tbl-search-wrapper .ant-input-group-wrapper .ant-input.ant-input-lg {
  height: 40px;
}
.tbl-search-wrapper .ant-input-group-wrapper .ant-input-group-addon .ant-btn.ant-btn-lg.ant-btn-icon-only.ant-input-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbl-search-wrapper.animated {
  width: auto;
}
.tbl-search-wrapper.animated .ant-input-affix-wrapper {
  width: auto;
  height: 35px;
  border: 0px;
  padding: 0px;
  border-radius: 0px;
}
.tbl-search-wrapper.animated .ant-input-affix-wrapper::before {
  display: none;
}
.tbl-search-wrapper.animated .ant-input-affix-wrapper .ant-input {
  display: none;
}
.tbl-search-wrapper.animated .ant-input-affix-wrapper .ant-input-suffix {
  margin-left: 0px;
}
.tbl-search-wrapper.animated .ant-input-affix-wrapper .ant-input-suffix .ant-input-clear-icon {
  display: none;
}
.tbl-search-wrapper.animated .ant-input-affix-wrapper .ant-input-suffix svg {
  cursor: pointer;
}
.tbl-search-wrapper.animated.show {
  width: 300px;
}
.tbl-search-wrapper.animated.show .ant-input-affix-wrapper {
  border-bottom: 1px solid #000000;
  padding: 0px 11px;
  width: 100%;
}
.tbl-search-wrapper.animated.show .ant-input-affix-wrapper::before {
  display: inline-block;
}
.tbl-search-wrapper.animated.show .ant-input-affix-wrapper .ant-input {
  display: inline-block;
}
.tbl-search-wrapper.animated.show .ant-input-affix-wrapper .ant-input-suffix {
  margin-left: 4px;
}
.tbl-search-wrapper.animated.show .ant-input-affix-wrapper .ant-input-suffix .ant-input-clear-icon {
  display: inline-block;
}
.tbl-search-wrapper.animated.show .ant-input-affix-wrapper .ant-input-suffix svg {
  cursor: pointer;
}

.tbl-showing-entries {
  height: 35px;
  display: flex;
  align-items: center;
}

.tbl-top-filter .ant-pagination,
.tbl-bottom-filter .ant-pagination {
  height: 30px;
}
@media (max-width: 767px) {
  .tbl-top-filter .ant-pagination,
  .tbl-bottom-filter .ant-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.tbl-top-filter .ant-pagination .ant-pagination-total-text,
.tbl-top-filter .ant-pagination .ant-pagination-prev,
.tbl-top-filter .ant-pagination .ant-pagination-next,
.tbl-top-filter .ant-pagination .ant-pagination-item,
.tbl-bottom-filter .ant-pagination .ant-pagination-total-text,
.tbl-bottom-filter .ant-pagination .ant-pagination-prev,
.tbl-bottom-filter .ant-pagination .ant-pagination-next,
.tbl-bottom-filter .ant-pagination .ant-pagination-item {
  height: 30px;
}
.tbl-top-filter .ant-pagination .ant-pagination-prev .ant-btn,
.tbl-bottom-filter .ant-pagination .ant-pagination-prev .ant-btn {
  padding: 0px;
  background-color: #ffffff;
  border: 0px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.tbl-top-filter .ant-pagination .ant-pagination-next .ant-btn,
.tbl-bottom-filter .ant-pagination .ant-pagination-next .ant-btn {
  padding: 0px;
  background-color: #ffffff;
  border: 0px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.tbl-top-filter .ant-pagination .ant-pagination-next .ant-btn.ant-btn-disabled,
.tbl-bottom-filter .ant-pagination .ant-pagination-next .ant-btn.ant-btn-disabled {
  background-color: #ffffff;
  border: 0px;
}
.tbl-top-filter .ant-pagination .ant-pagination-item,
.tbl-bottom-filter .ant-pagination .ant-pagination-item {
  border-radius: 5px;
  border-color: #d9d9d9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.tbl-top-filter .ant-pagination .ant-pagination-item.ant-pagination-item-active,
.tbl-bottom-filter .ant-pagination .ant-pagination-item.ant-pagination-item-active {
  border-color: var(--color-blue-600);
}
.tbl-top-filter .ant-pagination .ant-pagination-item.ant-pagination-item-active a,
.tbl-bottom-filter .ant-pagination .ant-pagination-item.ant-pagination-item-active a {
  color: var(--color-blue-600);
}
.tbl-top-filter .ant-pagination .ant-pagination-item a,
.tbl-bottom-filter .ant-pagination .ant-pagination-item a {
  color: rgba(0, 0, 0, 0.85);
}

.ant-table-wrapper .ant-table .ant-table-container .ant-table-header {
  border-radius: 0px;
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-header.ant-table-sticky-holder {
  z-index: 3;
  overflow: auto hidden !important;
  scrollbar-width: thin;
  scrollbar-color: var(--color-blue-400) var(--color-blue-200);
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-header table {
  border-radius: 0px;
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-header table thead.ant-table-thead tr th.ant-table-cell {
  font-weight: 600;
  padding-block: 8px;
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-header table thead.ant-table-thead tr th.ant-table-cell .ant-table-selection .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner {
  border: 1px solid #000000;
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-header table thead.ant-table-thead tr th.ant-table-cell .ant-table-selection .ant-checkbox-wrapper .ant-checkbox.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: var(--color-blue-600);
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-header table thead.ant-table-thead tr th.ant-table-cell .ant-table-selection .ant-checkbox-wrapper:hover .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner, .ant-table-wrapper .ant-table .ant-table-container .ant-table-header table thead.ant-table-thead tr th.ant-table-cell .ant-table-selection .ant-checkbox-wrapper.ant-checkbox-wrapper-checked .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--color-blue-600);
  border-color: var(--color-blue-600);
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-header table thead.ant-table-thead tr th.ant-table-cell .ant-table-selection .ant-checkbox-wrapper:hover .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner::after, .ant-table-wrapper .ant-table .ant-table-container .ant-table-header table thead.ant-table-thead tr th.ant-table-cell .ant-table-selection .ant-checkbox-wrapper.ant-checkbox-wrapper-checked .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner::after {
  left: 20%;
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-header table thead.ant-table-thead tr th.ant-table-cell.ant-table-selection-column {
  width: 50px;
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-blue-400) var(--color-blue-200);
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-body table tbody.ant-table-tbody tr td.ant-table-cell {
  vertical-align: baseline;
  padding-block: 8px !important;
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-sticky-scroll {
  opacity: 1;
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-sticky-scroll .ant-table-sticky-scroll-bar {
  background-color: var(--color-blue-200) !important;
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-content table thead.ant-table-thead tr th.ant-table-cell {
  padding-block: 8px;
}
.ant-table-wrapper .ant-table .ant-table-container .ant-table-content table tbody.ant-table-tbody > tr > td.ant-table-cell {
  padding-block: 8px;
}/*# sourceMappingURL=table.css.map */